Engine/Temp/
Engine/Source/Libraries/*
!Engine/Source/Libraries/.gitkeep
Engine/Source/Msvc/ipch/

Engine/Assets/Meshes/*
Engine/Assets/Textures/*
Engine/Assets/Materials/*
Engine/Assets/Actors/*

Editor/Bin/*
Editor/Source/Libraries/*

Tools/Scripts/Materials/*
Tools/Scripts/Actors/*
Tools/Scripts/Meshes/*

*.dll
*.exe
*.ilk
*.pdb
*.lib
*.suo
*.sdf
*.tlog
*.idb
*.ipch
*.vsld
*.lastbuildstate
*.mtl
*.cso
*.opensdf
*.nvuser
*.exp