Engine/Temp/
!Engine/Source/Libraries/.gitkeep

Editor/Bin/*
Editor/Source/Libraries/*
Editor/Source/Msvc/GeneratedFiles/*

Tools/Scripts/Materials/*
Tools/Scripts/Actors/*
Tools/Scripts/Meshes/*
Tools/ShaderGenerator/obj/*

*.dll
*.exe
*.ilk
*.pdb
*.lib
*.suo
*.sdf
*.tlog
*.idb
*.ipch
*.vsld
*.lastbuildstate
*.opensdf
*.nvuser
*.exp
*.opendb
*.iobj
*.ipdb
*.obj
*.log
*.pch
*.csproj.user
*.vcxproj.user
*.VC.db

!Engine/Source/Libraries/**/*.lib
!Engine/Source/Libraries/**/*.dll
BombastEngine.VC.db

Editor/BombastEditor/bin/
Editor/BombastEditor/obj/
Engine/Build/vs2017/.vs/
/.vs
/Engine/Build/vs2015/.vs/
/Editor/BombastEditorDLL/Temp/
