<ShaderPresets>
  <Preset>
    <PresetName>LitTexturedVertex</PresetName>
    <OutputName>littexturedvertexshader.cso</OutputName>
    <Model>vs_4_0</Model>
    <VSInputs>tex,normal</VSInputs>
    <PSInputs>viewDirection</PSInputs>
    <ConstantBuffers>camera</ConstantBuffers>
    <PSOutputs></PSOutputs>
    <PSTransforms></PSTransforms>
  </Preset>
  <Preset>
    <PresetName>LitTexturedPixel</PresetName>
    <OutputName>littexturedpixelshader.cso</OutputName>
    <Model>ps_4_0</Model>
    <VSInputs>tex,normal</VSInputs>
    <PSInputs>viewDirection</PSInputs>
    <ConstantBuffers>textureIn</ConstantBuffers>
    <PSOutputs>float4</PSOutputs>
    <PSTransforms>texSample</PSTransforms>
  </Preset>
  <Preset>
    <PresetName>ColorVertex</PresetName>
    <OutputName>colorvertexshader.cso</OutputName>
    <Model>vs_4_0</Model>
    <VSInputs>color</VSInputs>
    <PSInputs></PSInputs>
    <ConstantBuffers></ConstantBuffers>
    <PSOutputs></PSOutputs>
    <PSTransforms></PSTransforms>
  </Preset>
  <Preset>
    <PresetName>ColorPixel</PresetName>
    <OutputName>colorpixelshader.cso</OutputName>
    <Model>ps_4_0</Model>
    <VSInputs>color</VSInputs>
    <PSInputs></PSInputs>
    <ConstantBuffers></ConstantBuffers>
    <PSOutputs>float4</PSOutputs>
    <PSTransforms>colorDirect</PSTransforms>
  </Preset>
  <Preset>
    <PresetName>GBufferVertex</PresetName>
    <OutputName>fillgbuffervertexshader.cso</OutputName>
    <Model>vs_4_0</Model>
    <VSInputs>tex,normal</VSInputs>
    <PSInputs></PSInputs>
    <ConstantBuffers></ConstantBuffers>
    <PSOutputs></PSOutputs>
    <PSTransforms></PSTransforms>
  </Preset>
  <Preset>
    <PresetName>GBufferPixel</PresetName>
    <OutputName>fillgbufferpixelshader.cso</OutputName>
    <Model>ps_4_0</Model>
    <VSInputs>tex,normal</VSInputs>
    <PSInputs></PSInputs>
    <ConstantBuffers>textureIn</ConstantBuffers>
    <PSOutputs>gBuffer</PSOutputs>
    <PSTransforms>texSample</PSTransforms>
  </Preset>
</ShaderPresets>