<ShaderPresets>
  <Preset>
    <PresetName>LitTexturedVertex</PresetName>
    <OutputName>littexturedvertexshader.cso</OutputName>
    <Model>vs_4_0</Model>
    <VSInputs>tex,normal</VSInputs>
    <PSInputs>viewDirection</PSInputs>
    <ConstantBuffers>camera</ConstantBuffers>
    <PSOutputs></PSOutputs>
    <PSTransforms></PSTransforms>
  </Preset>
</ShaderPresets>